.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid #333;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navbar .logo {
  transition-duration: 0.8s;
  cursor: pointer;
}

.navbar .logo:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.navbar .nav-menu {
  display: flex;
}

.navbar li {
  padding: 1rem;
  font-family: "Source Serif 4", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  z-index: 5;
}

.active {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  transition-duration: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu.active li {
  color: #ffffff;
  font-size: 2rem;
}

.nav-menu.active li:hover {
  color: var(--primary-color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition-duration: 0.3s;
}

@media screen and (max-width: 740px) {
  .navbar .nav-menu {
    position: absolute;
    left: -200%;
  }
  .navbar .active {
    left: 0;
  }
}
