.navbar {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #333;
  position: fixed;
  z-index: 2;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navbar .logo {
  transition-duration: 0.8s;
  cursor: pointer;
}

.navbar .logo:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.navbar .nav-menu {
  display: flex;
}

.navbar li {
  padding: 1rem;
  font-family: "Source Serif 4", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger {
  z-index: 5;
  cursor: pointer;
}

.active {
  position: absolute;
}
